.searchPanel {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  z-index: 2;
}

.formPanel {
  padding: 15px 50px;
  background-color: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formItem {
  display: flex;
  gap: 10px;
}

.formItemTitle {
  flex-grow: 1;
  min-width: 500px;
}

.formLabel {
  text-align: start;
  vertical-align: middle;
  line-height: normal;
}

.formInput {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 8px 8px 8px 30px;
  background-color: transparent;
  position: relative;

  &:hover,
  &:focus,
  &:focus-visible {
    border: 1px solid var(--custom-color);
    outline: none;
  }
}

.formInput[type="search"] {
  flex-grow: 1;
  width: 100%;

  &+svg {
    fill: none;
    stroke: var(--custom-color);
  }
}

.inputContainer {
  position: relative;

  &:has([type="search"]) {
    flex-grow: 1;
  }

  &:hover svg {
    transform: scale(1.1);
  }
}

.inputIcon {
  fill: var(--custom-color);
  position: absolute;
  left: 7px;
  top: 7px;
  transition: 0.5s;
}

.inputButton {
  background-color: var(--custom-color);
  border: none;
  border-radius: 6px;
  align-self: center;
  color: var(--default-color);
  box-shadow: 3px 3px 3px var(--secondary-color);
  transition: 1s;
  padding: 8px;
  font-family: "Manrope-Bold", Helvetica, Arial, sans-serif;
  cursor: pointer;
}

.sortContainer {
  justify-self: center;
  font-size: 0.8rem;
  text-align: start;
  position: relative;
}

.sortList {
  list-style: none;
  position: absolute;
  padding: 0;
  display: block;
  background-color: var(--border-color);
  padding: 10px;
  margin: 0;
  width: fit-content;
  font-size: 0.7rem;
  left: 0;
  top: calc(100% + 2px);
  border-radius: 10px;
}

.sortList_hide {
  display: none;
}

.sortCurrentItem {
  position: relative;
  cursor: pointer;
  margin: 0;
  padding: 10px 20px 10px 10px;
  background-color: var(--border-color);
  border-radius: 10px;
}

.sortIcon {
  position: absolute;
  top: 12px;
}

.sortItem {
  width: fit-content;
  padding: 3px;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: var(--custom-color);
    color: var(--secondary-color);
  }
}

.importCsv {
  font-size: 0.5rem;
  text-decoration: underline;
  margin: 0;
  align-self: flex-end;
  cursor: pointer;
  justify-self: flex-end;
}

@media (max-width: 1024px) {
  .formItemTitle {
    min-width: auto;
  }
}